2021-11-28版本
1、根据生还者的行动随机打乱特感复活时间，禁止套娃。
2、减少找位次数，提高随机坐标效率，减少服务器卡顿。
3、移除77版本两点一线距离算法（会复活在墙的另一边）
4、移除了一些没什么人玩的模式（纯净写实、多人模式）
5、单人模式以及1vHunter模式未改动，玩的人不多不急
已知问题：
1、极少部分地形因检测距离导致服务器卡顿（卡不死，不修）。
2、特感复活的时候身体有小概率被卡住（几率不大，不修）。
3、charger偶尔会出现多次冲锋（改特感行为麻烦，不修）
4、boomer复活瞬间连跳和特感产生碰撞导致火箭胖（问题不大，不修）
5、jockey被推在空中然后秒套生还者（原则：有利生还的都不修）
6、spitter被推无硬直只会被定在原地（产生硬直口水会没伤害，不修）
7、特感复活时间太短，没规律（只能说纯属看生还者行动和运气，不修）
